{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1>Produits</h1>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td><img src="{{ asset('./public/uploads/products/' ~ product.image) }}" width="10%" height="10%"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a class="btn btn-primary" href="{{ path('app_product_new') }}">Créer un nouveeau</a>
    </div>
</div>                  
{% endblock %}
