{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom & prénom</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Ajouté le</th>
                <th>Utilisateur</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstName }} {{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.addedDate }} à {{ client.addedTime }}</td>
                <td>{{ client.user.fullname }}</td>
                <td>
                {% if client.user.team is not null %}
                    {{ client.user.team.name }}
                {% else %}
                    Aucune
                {% endif %}
                </td>
                <td>
                {% if is_granted('EDIT', client) %}
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Pagination #}

    <div class="pagination d-flex justify-content-center mt-3">
        {{ knp_pagination_render(clients) }}
    </div>
    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
