{% extends 'base.html.twig' %}

{% block title %}Phases{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1>Phases</h1>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Descripton</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for phase in phases %}
                <tr>
                    <td>{{ phase.id }}</td>
                    <td>{{ phase.name }}</td>
                    <td>{{ phase.description }}</td>
                    <td>
                        <a href="{{ path('app_phase_show', {'id': phase.id}) }}">show</a>
                        <a href="{{ path('app_phase_edit', {'id': phase.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a class="btn btn-primary" href="{{ path('app_phase_new') }}">Créer une nouvelle</a>
    </div>
</div>
{% endblock %}
