{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1>Utilisateurs</h1>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Utilisateur actif</th>
                    <th>Nom & prenom</th>
                    <th>Email</th>
                    <th>phone</th>
                    <th>Role</th>
                    <th>Equipe</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {% if user.isActive %}
                            <i class="fa fa-circle" style="color: green;"></i>
                        {% else %}
                            <i class="fa fa-circle" style="color: red;"></i>
                        {% endif %}
                    </td>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{% include('components/roles.html.twig') with { 'user': user } %}</td>

                    {% if user.team %}
                        {% if user.roles|first == 'ROLE_USER' %}
                            <td>{{ user.team.name }}</td>
                        {% elseif (user.roles|first) == 'ROLE_MANAGER' %}
                            <td>{{ user.team.name }}</td>
                        {% elseif (user.roles|first) == 'ROLE_ADMIN' %}
                            <td>Administrateur</td>
                        {% endif %}
                    {% else %}
                        <td>Aucune</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrement trouvé!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer un nouveau</a>
    </div>
</div>
{% endblock %}
