{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1>Utilisateurs</h1>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Password</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer un nouveau</a>
    </div>
</div>
{% endblock %}
